<a href="https://colab.research.google.com/github/idymusohealth/introgit/blob/master/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import drive 
drive.mount('/content/gdrive')
import pandas as pd

df=pd.read_csv("gdrive/My Drive/big_query_extract/data_1.csv")

Mounted at /content/gdrive

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,11,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df=pd.read_csv("gdrive/My Drive/big_query_extract/data_1.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,11,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df.head()

       id id_technique  ... assurance_beneficiaire    residence
0  1;1;14   1000102002  ...                    NaN  DIMBAL HABE
1  1;1;22   1000103101  ...                    NaN  DIMBAL HABE
2  1;1;43   1000204103  ...                    NaN  DIMBAL HABE
3  1;1;46   1000301001  ...                    NaN  DIMBAL HABE
4  1;1;57   1000301201  ...                    NaN  DIMBAL HABE

[5 rows x 20 columns]

In [5]:
df.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

# New section